

.buy-step-pic1{
    width: 100%;
    height: 500px;
    margin-top: 22px;
    background: url("../img/indroducePic1.png") no-repeat center;
}
.buy-step-LoveBox{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.buy-step-LoveBox-title{
    width: 784px;
    height: auto;
    overflow: hidden;
    margin: 110px auto 46px;
    padding: 13px 46px;
    font-size: 32px;
    text-align: center;
    line-height: 36px;
    border: 2px solid #777777;
    box-sizing: border-box;
    box-shadow: 0 0 0 7px #fff, 0 0 0 10px #000;

}
.cut-off-rule {
    width: 48px;
    height: 2px;
    background-color: #000;
    margin: 35px auto;
}

.buy-step-LoveBox p{
    text-align: center;
    line-height: 32px;
}

.red-heart{
    width: 20px;
    height: 17px;
    margin: 21px auto 0;
    background: url("../img/taoxin.png") no-repeat center;
}

.buy-step-pic2 {
    width: 100%;
    height: 389px;
    margin-top: 96px;
    background: url("../img/indroducePic2.png") no-repeat center;
}

.how-buy-title h2{
    font-size: 1.37em;
    text-align: center;
    margin: 81px 0 19px 0;
}
.how-buy-title h3{
    font-size: 1.37em;
    text-align: center;
    font-family: "Î¢ÈíÑÅºÚ Light";
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 69px;
}
.buy-step {
    width: 79%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.buy-step-c {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color:#F5F5F5;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 65px;
}
.buy-step-c  h3{
    width: 30%;
    height: auto;
    overflow: hidden;
    margin-top: 15%;
    text-align: center;
    font-weight: normal;
    font-size: 1.125em;
    float: left;
}
.buy-step-c >img{
    width: 70%;
    float: right;
}
.buy-package {
    width: 70%;
    margin: 0;
    padding: 0;
    float: right;

}
.buy-step1-pic {
    width: 100%;
    height: 296px;
    margin: 0 1px;
    background: url("../img/buyStep2-1.png") no-repeat center;
}
.buy-step2-pic{
    width: 100%;
    height: 296px;
    margin: 0 1px;
    background: url("../img/buyStep2-2.png") no-repeat center;
}
.buy-step3-pic{
    width: 100%;
    height: 296px;
    margin: 0 1px;
    background: url("../img/buyStep2-3.png") no-repeat center;
}
.buy-package p {
    display: block;
    line-height: 29px;
}
.buy-package li {
    width: 31%;
    display: block;
    float: left;
    margin-right: 14px;
    list-style: none;
    font-size: 1em;
    text-align: center;
}
.buy-package li:last-child{
    margin-right: 0;
}

.buy-package li:last-child span{
    color: #BF0D17;
}
.buy-package li h4 {
    width: 40%;
    font-size: 1.125em;
    font-weight: normal;
    padding-left: 25px;
    margin: 35px auto 20px ;
    background: url("../img/taoxin.png") no-repeat left;
}

.step-num {
    width:0;
    height:0;
    top: 0;
    left: 0;
    position: absolute;
    border-top: 73px solid #000;
    border-right: 73px solid transparent;
}

.step-num span {
}
@media only screen and (max-width:560px){
    .buy-step-pic1{
        width: 100%;
        height: 194px;
        background: url("../img/indroducePic1-560.png") no-repeat center;
    }
    .buy-step-pic2 {
        width: 100%;
        height: 194px;
        background: url("../img/indroducePic2-560.png") no-repeat center;
        margin-top: 48px;
    }
    .how-buy-title h2{
        margin-top: 51px;
    }
    .how-buy-title h3{
        margin-bottom: 39px;
    }
    .buy-step-two h3{
        width: 100%;
        text-align: center;
    }
    .buy-package{
        width: 100%;
    }
    .buy-step-LoveBox-title{
        font-size: 18px;
        padding: 0;
        width: 95%;
    }
    .buy-package li{
        margin-right: 5px;
    }
    .buy-package li h4 {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .buy-package li p{
        font-size: 12px;
        line-height: 25px;
    }
    .buy-step{
        width: 100%;
    }
    .buy-step-c {
        margin-bottom: 20px;
    }
    .buy-step-c h3{

        font-size: 15px;
    }
}