body{
  background-color: #D2CFAE;
}
#cover{
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 550px;
  background:url("../img/cover-bg.jpg") no-repeat center 0 ;
  background-size: 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
