

body {
	font-family:"Microsoft YaHei","open_sansregular", "Helvetica Neue", Arial, "Hiragino Sans GB",  "WenQuanYi Micro Hei", sans-serif;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}
.content{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.top{
	width: 100%;
	height: 200px;
	background: url(../img/logo.png) no-repeat 0 0;
	background-position: center 40px;
}
.top ul{
	float: right;
	height: 20px;
	line-height: 30px;
}
.top li{
	list-style: none;
	float: left;
	color: #929292;
	cursor: pointer;
	font-size: 16px;
	margin: 0 15px;
}
.top li:hover{
	color: #C00C15;
}
.top .cart{
	width:35px;
	height: 30px;
	margin-left: 20px;
	margin-right: 0px;
	background: url(../img/cart.png) no-repeat 0 0;
	background-size: 80%;
}
.top .cart:hover{
	background: url(../img/cartHover.png) no-repeat 0 0;
	background-size: 80%;
}
.topNav{
  width: 100%;
  height: auto;
  border: solid #C2C2C2 1px;
  border-left: 0px;
  border-right: 0px;
  display: block;
  padding-left: 0px;
  margin-top: 30px;
}
.navs{
  padding-left: 0px;
	margin: 10px 0;
}
.topNav li{
	padding: 3px 8px;
  display: inline-block;
  list-style: none;
  color: #9D9D9D;
  margin: 0 40px;
  cursor: pointer;
}
.topNav .link{
	box-sizing: border-box;
}
.topNav .link:hover{
	color: #ffffff;
	background: #C2C2C2;
	border-radius: 8px;
}

.topNav li:first-child{
  margin-left: 0px;
}
.topNav .button{
	float: right;
	width: 35px;
	height: 35px;
  margin: 0 0px;
}
.topNav #weixin{
	background: url(../img/weixin.png) no-repeat 0 0;
}
.topNav #weixin:hover{
	background: url(../img/weixinHover.png) no-repeat 0 0;
}
.twoDCode{
	position: absolute;
	display: none;
	width: 200px;
	height: 200px;
	background: url("../img/2dCodeHover.png") no-repeat 0 0;
	background-size: 150px 150px;
	margin-left: -70px;
	margin-top: 24px;
}
.topNav #weixin:hover .twoDCode{
	display: block;
}
.topNav #weibo{
	background: url(../img/weibo.png) no-repeat 0 0;
}
.topNav #weibo:hover{
	background: url(../img/weiboHover.png) no-repeat 0 0;
}
.swipe-box{
	overflow: hidden;
	width: 100%;
}
.swipe-wrap{
	width: 500%;
	height: 500px;
	margin-top: 20px;
}
.leftArr{
	position: absolute;
	margin-top: 200px;
	display: none;
	cursor: pointer;
}
.rightArr{
	position: absolute;
	margin-top: 200px;
	display: none;
	cursor: pointer;
}
.pic-link{
	height: 100%;
	width: 20%;
	display: block;
	float: left;
	background: url(../img/test1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.ol{
	position: absolute;
	margin-top: 450px;
	text-align: center;
}
.ol li{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	list-style: none;
	background: #CACCCB;
	float: left;
	margin: 0 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.ol li:hover{
	-webkit-box-shadow: 0 0 10px #ffffff;
	-moz-box-shadow: 0 0 10px #ffffff;
	box-shadow: 0 0 10px #ffffff;
}
.ol .active{
	background: #9C0103;
}
.ad-box{
	width: 1000px;
	margin: 0 auto;
}
.ad-box div {
	width: 300px;
	height: 200px;
	background-size: 100%;
	margin: 15px 15px;
}
.ad-box .brand{
	background: url("../data/image/11.png")no-repeat 0 0;
}
.ad-box .buy{
	background: url("../data/image/12.png")no-repeat 0 0;
}
.ad-box .sale{
	width: 300px;
	height: 420px;
	line-height: 420px;
	text-align: center;
	margin: 15px 5px;
	background: url("../data/image/13.png")no-repeat 0 0;
}
.ad-box .package{
	background: url("../data/image/14.png")no-repeat 0 0;
}
.ad-box .join{
	background: url("../data/image/15.png")no-repeat 0 0;
}
.ad-box div span{
	float:left;
	margin-top: 10px;
	margin-left: 10px;
	color: #646464;
}
.ad-box .sale span{
	margin-left: 40%;
	color: #EF8261;
	font-size: 40px;
	font-weight: 550;
}
h{
	font-weight: 550;
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
	cursor: default;
}
.eTitle{
	zoom:1.5;
	margin-top: 50px;
}
.cTitle{
	zoom:1.3;
	color: #797979;
	margin-bottom:50px;
}
.week-pick-list{
	width: 1000px;
	margin: 20px auto;
	text-align: center;
}
.product{
	display: inline-block;
	margin: 0 10px;
}
.product img{
	width: 450px;
	height: 500px;
}
.product img:hover{
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	cursor: pointer;
}
.buy-button{
	width: 120px;
	height: 30px;
	margin: 0 auto;
	background: #BDBDBD;
	margin-top: 10px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	cursor: pointer;
}
.buy-button:hover{
	background:#EF8261;
}
.more-link{
	margin: 30px auto;
	text-align: center;
}
.more-link a{
	cursor: pointer;
	zoom:1.5;
	text-decoration: underline;
}
.mottoPic{
	width: 1000px;
	background: url("../data/image/3.png") no-repeat 0 0;
	background-size: 100%;
	margin: 0 auto;
	padding: 90px 0px 150px 0;
}
.motto{
	width: 600px;
	height: 50px;
	background: rgba(255, 0, 0, 0);
	border: 1px #000 solid;
	line-height: 50px;
	font-size: 25px;
	margin: 0 auto;
	cursor: default;
	text-align: center;
}
.item-show-list{
	width: 1000px;
	margin: 20px auto;
	text-align: center;
}
.sale-tag{
	width: 50px;
	height: 50px;
	position: absolute;
	margin-left: 200px;
	background: url("../img/triangle.png") no-repeat 0 0;
	background-size: 50px;
}
.product-item{
	display: inline-block;
	margin: 10px 20px;
}
.product-item img{
	width: 250px;
	height: 250px;
}
.product-item img:hover{
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	cursor: pointer;
}
.package{
	margin: 10px 0 50px 0;
}
.package .mottoPic{
	padding: 120px 0 130px 0;
	background-image: url("../data/image/5.png");
}
.package .motto{
	width: 500px;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.package-list{
	width: 1000px;
	margin: 20px auto;
	text-align: center;
	margin: 0 auto;
}
.footer{
	width: 100%;
	background: #969799 url(../img/2dCode.jpg) no-repeat 0 0;
	background-position: center 50px;
	background-size: 120px;
	text-align: center;
	padding: 180px 0 50px 0; ;
}
.footer hr{
	width: 60%;
}
.footer div{
	cursor: default;
	color: #D7D8DA;
	font-size: 16px;
	margin: 10px 0;
	font-family:"Microsoft YaHei";
}
